// Define variables for your color scheme

// Variable colors used in our prototype:
$red: #B30000;
$blue: #006BF0;
$dark-blue: #1E334D;
$white-blue: #E2EAF4;
$yellow: #FFC65A;
$orange: #B37600;
$green: #338508; // not used
$light-green: #00B392;
$grey: #BCC8D5;
$medium-grey: #778089;
$dark-grey: #495159;
$darkest-grey: #2C3237;
$light-grey: #FCF7F7;
$black : #363636;
$purple: #7900B3;





