// Define variables for your color scheme

// Variable colors used in our prototype:
$red: #900C3F;
$blue: #1C68AC;
$dark-blue: #1E334D;
$white-blue: #E2EAF4;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #338508;
$light-green: #AAEF68;
$grey: #8E8888;
$light-grey: #FCF7F7;
$black : #363636;




