// Specific CSS for your home-page


.banner {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  h1 {
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .banner-content {
    text-align: right;
  }
}

.home-page {
  text-align: center;
  margin-top: 40px;
  h2{
    color: $dark-blue;
    border-bottom: 2px solid $light-green;
  }
  // .home-title {
  //   width: 305px;
  //   h2 {
  //     color: $dark-blue;
  //     border-bottom: 2px solid $light-green;
  //   }
  // }
  #home1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home1-text {
      text-align: right;
      h2{
        color: $light-green;
        border: none;
      }
    }
    .home1-image {
      .image-home {
        width: 150px;
      }
    }
  }
  #home2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home2-text {
      text-align: left;
      h2{
        color: $light-green;
        border: none;
      }
    }
    .home2-image {
      .image-home {
        width: 150px;
      }
    }
  }
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
