// Specific CSS for your home-page


.banner {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit:cover;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: calc(100vh - -60px);
=======
  height: 100vh;
  position: relative;
  top: -70px;
>>>>>>> master
  h1 {
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    animation: type 5s steps(39) infinite;
    // animation: type 4s linear;
    overflow: hidden;
    white-space:nowrap;
    border-right:4px solid black;
    // width:49ch;
    // position:relative;
    // align-items: right;
    text-align:  right;
  }
  @keyframes type {
    0% {
      width:0ch;
    }
    100% {
      width:39ch;

    }
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .banner-content {
    // text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

.home-page {
  text-align: center;
  margin-top: 40px;
  h2{
    color: $dark-blue;
    border-bottom: 2px solid $light-green;
  }
  // .home-title {
  //   width: 305px;
  //   h2 {
  //     color: $dark-blue;
  //     border-bottom: 2px solid $light-green;
  //   }
  // }
  #home1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home1-text {
      width: 50%;
      text-align: left;
      h2{
        color: $light-green;
        border: none;
      }
    }
    .home1-image {
      width: 50%;
      .image-home {
        width: 150px;
      }
    }
  }
  #home2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home2-text {
      width: 50%;
      text-align: left;
      h2{
        color: $light-green;
        border: none;
      }
    }
    .home2-image {
       width: 50%;
      .image-home {
        width: 300px;
      }
    }
  }
}

  // #home3 {
  //   margin-top: 40px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   .home3-text {
  //     text-align: left;
  //     h2{
  //       color: $light-green;
  //       border: none;
  //     }
  //   }
  //   .home3-image {
  //     .image-home {
  //       width: 150px;
  //     }
  //   }
  // }




