<div class=" pt-3 cards-team">
    <div class="row">
      <% @users.reject{|user| user == current_user}.each do |user| %>
        <%= render "users/card", user: user %>
      <% end %>
    </div>
</div>
