<div class="container mt-3 cards-team">
  <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <% @users.each do |user| %>
        <%= render "users/card", user: user %>
      <% end %>
    </div>
</div>
