


<div class="container">

<h1> <i class="far fa-smile-wink"></i> <i class="far fa-smile-wink"></i> Chameleon app <i class="far fa-smile-wink"></i> <i class="far fa-smile-wink"></i></h1>

<h3>The Chameleon app is now online!</h3>

<h2>The time now is <%= Time.now %></h2>

</div>
