<div class="container">
  <div class="title-form">
    <h1>Edit the project</h1>
  </div>
</div>

<div class="cards-team">
  <div class="card-team">
    <%= render "projects/form", project: @project %>
  </div>
</div>

