
.alert-count {
    background-color: $red;
    color: white;
    border-radius: 50%;
    margin: 0;
    height: 16px;
    width: 16px;
    padding: 2px;
    font-size: 8px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
