.alert-board {
  background-color: $white-blue;
  height: 100%;
  border-radius: 8px;
   margin: 0 8px;
   padding: 8px;
}


.title-alert-board {
  text-align: center;
  border-bottom: 0.5px solid $dark-blue;
  padding: 8px 0;
}

.alert-board .btn {
  font-size: 16px;
  margin-top: 8px;
}
