
// Title and descripction of the project

.card-project-general-info {
    margin: 24px 48px;
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    position: relative;

  .card-project-general-description {
    padding-bottom: 100px;
    margin-bottom: 80px;
    font-size: 24px;
    text-align: center;
    border-bottom: solid 1px $grey;
  }

  img {
    position: absolute;
    top: 16px;
    right: 32px;

  }
}

// Inside Card-project-general-info

.key-info-grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;


    .key-info-element {

      display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        border: solid 1px $grey;
        padding: 16px;
        justify-content: space-around;
        border-radius: 8px;
    }

    .key-info-title {

      color: $grey;
    }

    .key-info-specs{
      color: $blue;
    }

}




.card-project-dashboard {
  background-color: white;
  // border-radius: 8px;
  height: 80vh;
  padding: 32px;
  // overflow: scroll;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

// container with all the information to the left

// .card-project-dashboard-right {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   // grid-column-start: 1;
//   //   grid-column-end: 3;
// }


.card-project-dashboard-divider {
  height: 550px;
}



.task-log {
  overflow: scroll;
  overflow-x: hidden;
 }


.milestone-manager {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}






.card-project-specifics {
  display: flex;
  flex-direction: column;
  border: solid 1px $blue;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
}

.card-project-specifics-item {
  display: flex;
  justify-content: space-between;

}
