 .card-project-milestone-dashboard {

  margin-top: 24px;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

 }

 .card-project-milestone-dashboard p, h3 {
  margin: 0;
 }


