.card-project-dashboard {
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// container with all the information to the left

.card-project-dashboard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // grid-column-start: 1;
  //   grid-column-end: 3;
}

// container with specific information about the project (boereded blue)



// Title and descripction of the project

.card-project-general-info {
  margin: 40px;
  p {
    margin: 0
  }
}




.card-project-specifics {
  display: flex;
  flex-direction: column;
  border: solid 1px $blue;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
}

.card-project-specifics-item {
  display: flex;
  justify-content: space-between;

}
