
// Title and descripction of the project

.card-project-general-info {
    margin: 24px 48px;
    background-color: white;
    padding: 60px;
    border-radius: 8px;
    position: relative;

  .card-project-general-description {
    // padding-bottom: 60px;
    // margin-bottom: 60px;
    font-size: 18px;
    text-align: center;
    // border-bottom: solid 1px $grey;
  }

  img {
    position: absolute;
    top: 16px;
    right: 32px;

  }
}



.card-project-dashboard {
    background-color: white;
    margin-right: 48px;
    margin-left: 48px;
    border-radius: 8px;
    padding: 32px;
}


.project-dashboard-tab-container{
  z-index: 1;

  .nav-pills {
    width: 79%;
    margin-top: 24px;
    margin-left: 16px;

    .nav-link {
      border-radius: 8px;
      background-color: white;
      margin-bottom: 8px;
      border: solid 1px $blue;

    }

    .active {
      background-color: $blue;
    }
  }
}


.card-project-dashboard-divider {
  height: 550px;
}



.task-log {
  overflow: scroll;
  overflow-x: hidden;
 }




.card-project-specifics {
  display: flex;
  flex-direction: column;
  border: solid 1px $blue;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
}

.card-project-specifics-item {
  display: flex;
  justify-content: space-between;

}
