
.card-overall-internal {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 75vh;
};

.dashboard-overall-chart {
    border-radius: 8px;
    background-color: white;
    margin: 0 8px;
   grid-column-start: 1;
   grid-column-end: 5;
    padding: 8px;
    // for the time being -- remove when we will have a chart
    // overflow: scroll; WE HAVE A CHART!


}

