
.general-header-index-card {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.general-header-index-card h3 {
  margin: 0;
}
