
.nav-tabs {
  border: 0;

  .active {
    background-color: white !important;
    border: 0;

  }

  .active:hover {
    border: 0;
  }




}

.nav-item {
  border: 0;
}


.nav-item:hover {
    border: 0;
}
