.navbar-lewagon {
  justify-content: space-between;
  background: white;
  .nav-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
