
.nav-tabs {
  border: 0;
  font-weight: lighter;
  margin-bottom: 4px;

  a:hover {
    color: $dark-grey
  }


  .active {
    font-weight: bold;
    border: 0;

  }

  .active:hover {
    border: 0;
    color: $dark-grey;
      }

}

.nav-item {
  border: 0;
  color: $medium-grey;
  }


.nav-item:hover {
    border: 0;
}
