

.project-card-grid {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}



.project-card {
  background-color: $dark-blue;
  color: $white-blue;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 390px;
  padding: 32px;

}

.project-card h5 {
  margin-bottom: 0;
}


.project-card p {
  margin-bottom: 0;
}


 .project-card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}


@media (max-width: 1000px) {
  .project-card-grid {
    grid-template-columns: 1fr;
  }
}

