

.project-card-grid {
  padding: 0
}

.project-card {
  background-color: $dark-blue;
  padding: 16px;
  color: $white-blue;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 150px;

}

.project-card h5 {
  margin-bottom: 0;
}
