.sidebar {
  width: 50px;
  height: 100vh;
  background: $dark-blue;
  padding-top: 20px;


  .logout-button {
    border-top: solid 1px $white-blue;
  }

  i {
    color: $white-blue;

  }


  img {
    width: 100%;
    padding: 0 13px;
  }
}

main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.nav-link{
  &:hover {
    background-color: #89C5CC;
    i {
      color: black;
    }
  }
}

.nav-logo{
  margin-bottom: 15px;
}
