.cards-team {
    color: $darkest-grey;
    border-radius: 8px;
    padding: 0 30px;
    height: calc(100vh - 66px);
    overflow: scroll;
    overflow-x: hidden;
}

.h-350 {
  height: 350px;
}

.cards-team .section-title {
    font-family: "Proza Libre", "Helvetica", "sans-serif";
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.cards-team .card-team {
    border: none;
    background: #ffffff;
    margin-bottom: 30px;
    min-height: 640px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-team .card-title {
    color: black !important;
    display:flex;
}

.card-team  .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
}
